@import 'https://fonts.googleapis.com/css?family=Lato';

body {
  background-color: #ddddff;
  font-family: "Lato", sans-serif;
}

button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #5555cc;
  font-family: "Lato", sans-serif;
  color: black;
}

#mainbutton {
  position: absolute;
  left: 0;
  width: 30%;
  text-align: center;
}

#clickbutton {
  top: 50%;
  height: 50%;
  font-size: 35px;
}

#otheritems {
  display: inline;
  position: absolute;
  right: 0;
  width: 70%;
}

#topbar {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#items {
  position: absolute;
  left: 0;
  width: 70%;
}

.building {
  font-size: 20px;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
}

.upglist {
  display: none;
}

.upgrade {
  width: 350px;
  margin-bottom: 0;
}

.upgradebutton {
  font-size: 15px;
  width: 150px;
  height: 50px;
}

.displayupgs {
  font-size: 12px;
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  background-color: grey;
}

.buttonstats {
  float: right;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

#multiplier {
  background-color: orange;
  margin-bottom: 10px;
}

#clickupglist {
  position: absolute;
  left: 50px;
}

#buildings {
  display: block;
  width: 420px;
}

#buildbutton {
  background-color: #5555cc;
}

#stats {
  display: none;
}

#statsbutton {
  background-color: grey;
}

#user {
  position: absolute;
  right: 0;
  width: 30%;
}

.progressbarout {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: grey;
  border: 1px solid black;
  margin-right: 5px;
}

.progressbarin {
  width: 0;
  height: 100%;
  background-color: #5555cc;
}

.progressbartext {
  text-align: center;
  line-height: 30px;
  color: white;
}

#hoverinfo {
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
